---
import LiquidButton from "./LiquidButton.astro";
import HeaderMenu from "./HeaderMenu.astro";
import { Image } from "astro:assets";
import { getImage } from "astro:assets";
import MainImage from "../../assets/amekuri.webp";
import MainSPImage from "../../assets/amekuri_sp.webp";
import LogoImage from "../../assets/logo.png";
import DateImage from "../../assets/date.png";

const optimizedPc = await getImage({ src: MainImage });
const optimizedSp = await getImage({ src: MainSPImage });
---

<!-- TODO:スマホ版とPC版で画像自体分ける -->
<header id="hero" class="relative min-h-[50vh] aspect-[9/16] md:aspect-video">
  <div
    class="absolute bg-[url('../assets/bg.webp')] bg-no-repeat bg-cover bg-center w-full h-auto aspect-[9/16] md:aspect-video"
  >
  </div>
  <HeaderMenu />
  <div class="absolute md:top-0 md:left-0 md:aspect-video">
    <picture>
      <source media="(min-width: 768px)" srcset={optimizedPc.src} />
      <!-- スマホ用 (デフォルト) -->
      <img
        src={optimizedSp.src}
        alt="雨クリWebオンリー 星間航海記録"
        class="w-full h-auto object-cover"
        width={optimizedSp.attributes.width}
        height={optimizedSp.attributes.height}
      />
    </picture>
  </div>
  <h1 class="hero-anime opacity-0">
    <Image
      src={LogoImage}
      class="hero-anime absolute w-5/7 top-4 left-1/2 translate-x-[-50%] md:w-2/5 md:top-15 md:left-10 md:translate-x-0"
      alt="雨クリWebオンリー 星間航海記録"
    />
  </h1>
  <div class="hero-anime opacity-0 hero-date">
    <Image
      src={DateImage}
      class="absolute w-2/3 left-1/2 translate-x-[-50%] bottom-40 md:bottom-15 md:w-2/5 md:left-10 md:translate-x-0"
      alt="inピクリエ 2026年10月31日"
    />
  </div>
  <LiquidButton />
</header>

<style>
  .hero-anime {
    opacity: 0;
  }

  .hero-date {
    text-shadow: 0 0 10px #ffffff;
  }
</style>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  // DOMが完全に読み込まれてから実行
  window.addEventListener("load", () => {
    const heroAnime = document.querySelector(".hero-anime");
    gsap.to(".hero-anime", {
      opacity: 1,
      duration: 0.5,
      ease: "power2.out",
      stagger: 0.3,
      delay: 0.3,
    });
  });
</script>
